
body {
    text-align: justify;
    color: inherit;
    background-color: #fcfcfc;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.8;
    position: relative;
}

.cabecalho {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #570404;
    background-color: #ffffff;
    position: relative;
}

.nav{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #570404;
    background-color: #ffffff;
    position: relative;
}

@media (max-width: 1000px) {
    .nav {
        flex-direction: column;
        
    }
}

.rodape {
    text-align: left;
    background-color: #fcfcfc;
    text-align: justify;
}

.rodape img {
    width: 40px;
    vertical-align: middle;
    margin-bottom: 5px;
}

p{
    padding: 10px;
     text-indent: 50px;
}

.box {
    color: rgb(0, 0, 0);
    background-color: #fcfcfc;
    padding: 50px;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
    position: relative;
    text-align: center;
    
}

.box2{
    background-color: rgb(236, 236, 236);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

@media (max-width: 600px) {
    .box {
        font-size: 16px;
        padding: 20px;
    }

    .rodape {
        font-size: 16px;
        padding: 20px;
    }
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: none;
    color: #570404;
}

a:active {
    text-decoration: none;
}

.catb img {
    width: 70%;
}

.cat img {
    width: 40%;
    padding: 48px;
}

.cat img:hover {
    -webkit-box-shadow: 5px 5px 37px 17px #000000;
    box-shadow: 10px -10px 37px #000000;
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}

.bunner {
    text-align: center;
    width: 100%;
}

.bunner img {
    width: 100%;
    border-bottom: #570404 solid;
    border-radius: 0px;
}

.linha {
    border-bottom: #570404 2px solid;
}

h2, h4 {
    text-align: left;
    color: #570404;
}

.home {
    text-align: left;
    flex-direction: row;
    display: flex;
}

.home img {
    width: 30%;
    border-radius: 20px;
    padding: 5px;
    
}

#blazer-branco-img {
    width: 48%;
    
}

#cargo-couro2-img{
    width: 40%;
}

#linha-brilhante-img{
    width: 33%;
}

